.container {
    width: 700px;
    border: 1px solid black;
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .topBar {
    height: 50px;
    font-size: 30px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  
  .leftBar {
      background-color: rgb(255, 0, 200);
    padding: 5px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  
  .leftBar button {
    height: 40px;
    background-color: rgb(255, 232, 27);
    margin: 2px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .content {
    background-color: rgb(30, 255, 0);
    padding: 5px;
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    height: 50px;
    border: 1px solid black;
    background-color: burlywood;
  }
  
  .notes {
      background-color: crimson;
    margin-top: 5px;
    flex: 1;
    border: 1px solid black;
  }
  
  .button {
    margin-top: 5px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .button button {
    height: 30px;
    width: 70px;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input {
    text-align: center;
    height: 100%;
    width: 100%;
  }

  textarea {
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .content{
      display: none;
  }
  .content.active{
      display: block;
  }